In [2]:
import pandas as pd
import numpy as np

bots=pd.read_csv('bots_data.csv')
nonbots=pd.read_csv('nonbots_data.csv')
bots.head(2)

,id,id_str,screen_name,location,description,url,followers_count,friends_count,listedcount,created_at,favourites_count,verified,statuses_count,lang,status,default_profile,default_profile_image,has_extended_profile,name,bot
0,3.982732e+09,3982731976,mcgucket_bot,NaN,A bot that tweets every line said by Fiddlefor...,NaN,1129,7,2,Sat Oct 17 22:35:31 +0000 2015,0,False,23557,en,"{'retweeted': False, 'is_quote_status': False,...",False,False,False,McGucket bot,1
1,8.410000e+17,8.41E+17,BowieK66,NaN,NaN,NaN,0,22,0,13/03/2017 22:21,0,False,1,en,Status(_api=<tweepy.api.API object at 0x101927...,True,True,False,MJ Kuhn,1

    Read the two csv files bots_data.csv and nonbots_data.csv

In [3]:
bots_attributes=bots[bots.columns.tolist()[:-1]]
bots_label=bots[bots.columns.tolist()[-1:]]
nonbots_attributes=nonbots[nonbots.columns.tolist()[:-1]]
nonbots_label=nonbots[nonbots.columns.tolist()[-1:]]

    Convert the files that we read into list, The columns from the first to the last but one are attributes of the accounts, and the last one is the label of the acount whether the account is bot or not.

In [15]:
m=pd.concat([bots_attributes,nonbots_attributes])
n=pd.concat([bots_label,nonbots_label])

    Concatenate the two list of attributes into one list as well as the list of label.

In [16]:
from sklearn.cross_validation import train_test_split

In [17]:
m_train_1,m_test_1,n_train,n_test=train_test_split(m,n,random_state=2)
m_train_1=m_train_1.fillna(value=0)
m_test_1=m_test_1.fillna(value=0)

    split the whole dataset into two parts, for one part, we will use it to train the machine, and for the other part, we will use it to cross validate our experiment.

In [18]:
m_train_1=m_train_1.apply(pd.to_numeric,errors='coerce')
m_test_1=m_test_1.apply(pd.to_numeric,errors='coerce')
n_train=n_train.apply(pd.to_numeric,errors='coerce')
n_test=n_test.apply(pd.to_numeric,errors='coerce')

    convert all the content to number

In [19]:
m_train_1=m_train_1.fillna(value=1)
n_train=n_train.fillna(value=1)
m_test_1=m_test_1.fillna(value=1)
n_test=n_test.fillna(value=1)

pd.value_counts(m_train_1['has_extended_profile'])

0    1460
1     214
Name: has_extended_profile, dtype: int64

    Because in python, the py.to_numeric cannot turn text into digit directly, the first time we use this function, we can only turn the null value into 0 and the not null value into Na/NaN, then we reuse the function py.to_numeric to make the Na/NaN to be value 1

In [9]:
from sklearn.naive_bayes import BernoulliNB
from sklearn import tree
from sklearn.cross_validation import cross_val_score

In [20]:
import math

m_train=m_train_1.fillna(value=1)
n_train=n_train.fillna(value=1)
m_test=m_test_1.fillna(value=1)
n_test=n_test.fillna(value=1)

for i in m_train.index:
    m_train.set_value(i,'id',1)
    m_train.set_value(i,'id_str',1)

for i in m_test.index:
    m_test.set_value(i,'id',1)
    m_test.set_value(i,'id_str',1)

    for all the attributes that we will not utilize them in our experiment, we will all convert them into ‘1’ in order to not affect our result.

In [32]:
def log_convert(df):
    cou=df.columns.tolist()
    counts_list= [cou[6]]
    for col in counts_list:
        alist=[]
        for i in df[col]:
            alist.append(i)
        for i in range(len(alist)):
            if alist[i]>6:
                alist[i]=1
            else: alist[i]=0
        selist=pd.Series(alist,index=df.index)
        df[col]=selist
    for col in [cou[7]]:
        alist=[]
        for i in df[col]:
            alist.append(i)
        for i in range(len(alist)):
            if alist[i]>15:
                alist[i]=1
            else: alist[i]=0
        selist=pd.Series(alist,index=df.index)
        df[col]=selist
    for col in [cou[8]]:
        alist=[]
        for i in df[col]:
            alist.append(i)
        for i in range(len(alist)):
            if alist[i]>300:
                alist[i]=1
            else: alist[i]=0
        selist=pd.Series(alist,index=df.index)
        df[col]=selist

    for col in [cou[10]]:
        alist=[]
        for i in df[col]:
            alist.append(i)
        for i in range(len(alist)):
            if alist[i]>4:
                alist[i]=1
            else: alist[i]=0
        selist=pd.Series(alist,index=df.index)
        df[col]=selist

    for col in [cou[12]]:
        alist=[]
        for i in df[col]:
            alist.append(i)
        for i in range(len(alist)):
            if alist[i]>2:
                alist[i]=1
            else: alist[i]=0
        selist=pd.Series(alist,index=df.index)
        df[col]=selist

    
log_convert(m_train)
log_convert(m_test)


m_train.head(5)

,id,id_str,screen_name,location,description,url,followers_count,friends_count,listedcount,created_at,favourites_count,verified,statuses_count,lang,status,default_profile,default_profile_image,has_extended_profile,name
684,1.0,1.0,1.0,1.0,1.0,1.0,0,0,0,1.0,0,False,0,1.0,1.0,True,False,0,1.0
434,1.0,1.0,1.0,1.0,1.0,1.0,0,0,0,1.0,0,True,0,1.0,1.0,False,False,0,1.0
807,1.0,1.0,1.0,1.0,1.0,1.0,0,0,0,1.0,0,True,0,1.0,1.0,False,False,0,1.0
2,1.0,1.0,1.0,0.0,0.0,0.0,0,0,0,1.0,0,False,0,1.0,1.0,True,False,0,1.0
926,1.0,1.0,1.0,1.0,1.0,1.0,0,0,0,1.0,0,True,0,1.0,1.0,False,False,1,1.0

    By observing the dataset, we find a better way to define the classes. For example, the attribute followers_count, we can find that when the number of accounts is less than 6, the possibility of the account is bot is much larger than the accounts which have more than 6 followers. So we define the the value that less than or equal to 6 as ‘0’, the value more than 6 as ‘1’.

In [24]:
columns=m_train.columns.tolist()
counts_list= [columns[6],columns[7],columns[8],columns[10],columns[12]]

for i in counts_list:
    print pd.value_counts(m_train[i])

1    1485
0     189
Name: followers_count, dtype: int64
1    1227
0     447
Name: friends_count, dtype: int64
0    1252
1     422
Name: listedcount, dtype: int64
1    1028
0     646
Name: favourites_count, dtype: int64
1    1572
0     102
Name: statuses_count, dtype: int64

    count the test dataset

In [25]:
clfBN=BernoulliNB()
clfDT=tree.DecisionTreeClassifier()
clfBN=clfBN.fit(m_train,n_train)
clfDT=clfDT.fit(m_train,n_train)

/Users/chenyunzhe/anaconda/lib/python2.7/site-packages/sklearn/utils/validation.py:526: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [27]:
from sklearn import metrics
class predictScore():
    accuracy=0
    precision=0
    recall=0
    f1=0
    auc=0
    clf=None
    name=''
    def __init__(self,classifier,name_str):
        self.clf = classifier
        self.name=name_str
        
predict_score_BN=predictScore(clfBN,'BernoulliNB')
predict_score_DT=predictScore(clfDT,'Decision Tree')       
predicted_scores=[predict_score_BN,predict_score_DT]

for i in predicted_scores:
    predicted=i.clf.predict(m_test)
    i.accuracy=metrics.accuracy_score(predicted,n_test['bot'])
    i.precision=metrics.precision_score(predicted,n_test['bot'])
    i.recall=metrics.recall_score(predicted,n_test['bot'])
    i.f1=metrics.f1_score(predicted,n_test['bot'])   
    i.auc=metrics.roc_auc_score(predicted,n_test['bot'])

In [28]:
for i in predicted_scores:
    print '\n',i.name
    print ('Accuracy  =',i.accuracy)
    print ('Precision =',i.precision)
    print ('Recall    =',i.recall)
    print ('F1        =',i.f1)
    print ('Auc score =',i.auc)

BernoulliNB
('Accuracy  =', 0.83333333333333337)
('Precision =', 0.86770428015564205)
('Recall    =', 0.79078014184397161)
('F1        =', 0.82745825602968459)
('Auc score =', 0.83379586802343497)

Decision Tree
('Accuracy  =', 0.82437275985663083)
('Precision =', 0.78988326848249024)
('Recall    =', 0.82186234817813764)
('F1        =', 0.80555555555555547)
('Auc score =', 0.82411445383183413)

In [29]:
class CrossValueScore:
    accuracy=0
    precision=0
    recall=0
    f1=0
    auc=0
    clf=None
    name=''
    def __init__(self,classifier,name_str):
        self.clf = classifier
        self.name=name_str
cross_score_BN=CrossValueScore(clfBN,'BernoulliNB')
cross_score_DT=CrossValueScore(clfDT,'Decision Tree')


scores=[cross_score_BN,cross_score_DT]

for i in scores:
    i.accuracy=cross_val_score(i.clf,m_train,n_train['bot'],scoring='accuracy',cv=10)
    i.precision=cross_val_score(i.clf,m_train,n_train['bot'],scoring='precision',cv=10)
    i.recall=cross_val_score(i.clf,m_train,n_train['bot'],scoring='recall',cv=10)
    i.f1=cross_val_score(i.clf,m_train,n_train['bot'],scoring='f1',cv=10)
    i.auc=cross_val_score(i.clf,m_train,n_train['bot'],scoring='roc_auc',cv=10)
m_train.head(5)

,id,id_str,screen_name,location,description,url,followers_count,friends_count,listedcount,created_at,favourites_count,verified,statuses_count,lang,status,default_profile,default_profile_image,has_extended_profile,name
684,1.0,1.0,1.0,1.0,1.0,1.0,1,0,0,1.0,0,False,1,1.0,1.0,True,False,0,1.0
434,1.0,1.0,1.0,1.0,1.0,1.0,1,1,1,1.0,1,True,1,1.0,1.0,False,False,0,1.0
807,1.0,1.0,1.0,1.0,1.0,1.0,1,0,1,1.0,1,True,1,1.0,1.0,False,False,0,1.0
2,1.0,1.0,1.0,0.0,0.0,0.0,0,0,0,1.0,0,False,1,1.0,1.0,True,False,0,1.0
926,1.0,1.0,1.0,1.0,1.0,1.0,1,1,1,1.0,1,True,1,1.0,1.0,False,False,1,1.0

In [30]:
for i in scores:
    print '\n',i.name
    print ('Accuracy  =',i.accuracy)
    print ('Precision =',i.precision)
    print ('Recall    =',i.recall)
    print ('F1        =',i.f1)
    print ('Auc score =',i.auc)

BernoulliNB
('Accuracy  =', array([ 0.79761905,  0.82738095,  0.85714286,  0.83928571,  0.83333333,
        0.78443114,  0.83233533,  0.76646707,  0.8502994 ,  0.8253012 ]))
('Precision =', array([ 0.75555556,  0.80722892,  0.81111111,  0.81176471,  0.80952381,
        0.74444444,  0.825     ,  0.74698795,  0.81609195,  0.78409091]))
('Recall    =', array([ 0.85      ,  0.8375    ,  0.9125    ,  0.8625    ,  0.85      ,
        0.8375    ,  0.825     ,  0.775     ,  0.8875    ,  0.87341772]))
('F1        =', array([ 0.8       ,  0.82208589,  0.85882353,  0.83636364,  0.82926829,
        0.78823529,  0.825     ,  0.7607362 ,  0.8502994 ,  0.82634731]))
('Auc score =', array([ 0.90610795,  0.87705966,  0.91413352,  0.90667614,  0.91221591,
        0.86760057,  0.89849138,  0.87363506,  0.90222701,  0.93670886]))

Decision Tree
('Accuracy  =', array([ 0.82738095,  0.86309524,  0.85714286,  0.85714286,  0.85714286,
        0.79041916,  0.83233533,  0.79640719,  0.8742515 ,  0.8313253 ]))
('Precision =', array([ 0.84931507,  0.85897436,  0.86842105,  0.87837838,  0.88888889,
        0.77777778,  0.86111111,  0.859375  ,  0.91428571,  0.85915493]))
('Recall    =', array([ 0.7875   ,  0.8375   ,  0.825    ,  0.8125   ,  0.8      ,
        0.7875   ,  0.7625   ,  0.6875   ,  0.8      ,  0.7721519]))
('F1        =', array([ 0.81578947,  0.85350318,  0.83870968,  0.84415584,  0.84210526,
        0.775     ,  0.81578947,  0.76388889,  0.86092715,  0.81333333]))
('Auc score =', array([ 0.88267045,  0.91647727,  0.87294034,  0.9037642 ,  0.92024148,
        0.80272989,  0.88225575,  0.83433908,  0.90826149,  0.89975266]))

In [31]:
a=np.mean(cross_score_BN.accuracy)
b=np.mean(cross_score_BN.precision)
c=np.mean(cross_score_BN.recall)
d=np.mean(cross_score_BN.f1)
e=np.mean(cross_score_BN.auc)
   
print ('BNaccuracy  =',a)
print ('BNPrecision =',b)
print ('BNRecall    =',c)
print ('BNF1        =',d)
print ('BNAuc score =',e)

('BNaccuracy  =', 0.82135960437129185)
('BNPrecision =', 0.79117993571010503)
('BNRecall    =', 0.8510917721518988)
('BNF1        =', 0.81971595450523704)
('BNAuc score =', 0.89948560655661802)

In [33]:
a=np.mean(cross_score_DT.accuracy)
b=np.mean(cross_score_DT.precision)
c=np.mean(cross_score_DT.recall)
d=np.mean(cross_score_DT.f1)
e=np.mean(cross_score_DT.auc)


print ('DTaccuracy  =',a)
print ('DTPrecision =',b)
print ('DTRecall    =',c)
print ('DTF1        =',d)
print ('DTAuc score =',e)

('DTaccuracy  =', 0.83866432367622745)
('DTPrecision =', 0.86156822801184241)
('DTRecall    =', 0.78721518987341765)
('DTF1        =', 0.8223202291354994)
('DTAuc score =', 0.88234326122144624)

    calculate the mean of the values of the cross validation in order to compare the two algorithm visually.